/* MODAL DELETE */
.modal.custom .modal-content {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal.custom .modal-header {
    background-color: rgb(160, 4, 4);
    color: white;
    /* justify-content: center; */
}





/* .modal.custom .modal-header button.close {

    margin: -16px;
} */


.modal.custom .modal-body {
    margin-top: 0px;
    line-height: 0px;
    text-align: center;
}

.modal.custom .modal-body i {
    color: rgb(160, 4, 4);
    font-size: 6em;
}

.modal.custom .modal-footer {
    justify-content: center;

}

.modal.custom .modal-footer button {
    color: white;
}

.modal.custom .modal-footer button.back {
    background-color: rgb(160, 4, 4);
}

.modal.custom .modal-footer button.delete {
    background-color: rgb(160, 4, 4);
}

.modal.custom .modal-footer button.back:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.modal.custom .modal-footer button.delete:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
